{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category|flash_class }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>{{ category|capitalize }}</strong>: {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
