{% from "macros/basic.html" import octicon without context %}
<nav class="navbar navbar-expand-lg{% if repocribro_core_navbar_style != 'light' %} navbar-dark bg-dark{% else %} navbar-light{% endif %}">
    <div class="container">
        <a class="navbar-logo" href="{{ url_for('core.index') }}">
            <img src="{{ repocribro_core_logo }}" alt="logo" id="logo">
            <span class="navbar-brand" href="{{ url_for('core.index') }}">{{ repocribro_core_name }}</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% block nav_search %}
            <form class="form-inline mr-auto" method="GET"
                  action="{{ url_for('core.search', query=query) }}" id="nav-search-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search" id="nav-search-query">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">{{ octicon('search') }}</button>
                  </div>
                </div>
            </form>
            {% endblock %}

            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ octicon('person') }} <strong>{{ current_user.github_user.login }}</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for route, title in config.dropdown_menu_items.items() %}
                                <a class="dropdown-item" href="{{ url_for(route) }}">{{ title }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            {% if current_user.has_role('admin') %}
                            <a class="dropdown-item" href="{{ url_for('admin.index') }}">Administration</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.github') }}" class="btn btn-outline-success">{{ octicon('mark-github') }} Login via GitHub</a>
                    </li>
                {% endif %}
            </ul>
      </div>
    </div>
</nav>

