{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
    <h1>repocribro</h1>
    <hr>
    <p>Repocribro is extensible sifting tool for information from GitHub repositories powered by Python.</p>
    {# TODO: logo, more info #}
    {# TODO: search, login (get started) options #}
    <p class="buttons">
        <a class="btn btn-primary btn-lg" href="{{ url_for('core.search') }}">Take a look</a>
         or
        <a class="btn btn-success btn-lg" href="{{ url_for('auth.github') }}">Join now</a>
    </p>
</div>
{% endblock %}
