{% extends "layout.html" %}
{% from "macros/basic.html" import octicon without context %}
{% block body %}

<div class="jumbotron">
    <h1>repocribro</h1>
    <hr>
    <p>Repocribro is extensible sifting tool for information from GitHub repositories powered by Python.</p>
    {# TODO: logo, more info #}

    <p class="buttons">
        <a class="btn btn-primary btn-lg" href="{{ url_for('core.search') }}">
            {{ octicon('search') }} Take a look
        </a>
         or
        {% if current_user.is_authenticated %}
        <a class="btn btn-warning btn-lg" href="{{ url_for('manage.dashboard') }}">
            {{ octicon('settings') }} cribro your repos
        </a>
        {% else %}
        <a class="btn btn-success btn-lg" href="{{ url_for('auth.github') }}">
            {{ octicon('mark-github') }} join now
        </a>
        {% endif %}
        .
    </p>
</div>
{% endblock %}
