{# Repository search results #}
{% from "macros/basic.html" import octicon without context %}
<h2>Repositories <small>search results</small></h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Owner</th>
            <th>Languages</th>
            <th>Releases</th>
            <th>Updates</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for repo in repos if current_user.sees_repo(repo) %}
        <tr>
            <td><a href="{{ url_for('core.repo_detail', login=repo.owner.login, reponame=repo.name) }}">{{ repo.full_name }}</td></td>
            <td><a href="{{ url_for('core.user_detail', login=repo.owner.login) }}">{{ repo.owner.login }}</a></td>
            <td>{{ repo.languages }}</td>
            <td>{{ repo.releases|length }}</td>
            <td>{{ repo.pushes|length }}</td>
            <td class="btn-group">
                <a href="{{ repo.url }}" class="btn btn-default">
                    {{ octicon('mark-github') }}
                </a>
                <a href="{{ url_for('core.repo_detail', login=repo.owner.login, reponame=repo.name) }}" class="btn btn-primary">
                    {{ octicon('repo') }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {# TODO: pagination #}
</table>
