{# Organization search results #}
<h2>Users <small>search results</small></h2>

<div class="row">
    {% for user in users %}
        <div class="user-card panel panel-default col-md-4 col-xs-6">
            <a href="{{ url_for('core.user_detail', login=user.login) }}">
                <div class="panel-body">
                    <div class="col-md-5 avatar-block">
                        <div class="thumbnail">
                            <img src="{{ user.avatar_url }}" alt="avatar">
                        </div>
                    </div>
                    <div class="col-md-7 properties-block">
                        <div class="property login">{{ user.login }}</div>
                        <div class="property name">{{ user.name }}</div>
                        <div class="property location">{{ user.location }}</div>
                        <div class="property company">{{ user.company }}</div>
                        <div class="property email">{{ user.email|email_link }}</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    {# TODO: pagination #}
</div>
