{# Releases of repository #}
{% from "macros/basic.html" import octicon without context %}
<h2>Releases</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tag</th>
            <th>Published</th>
            <th>Author</th>
            <th>Sender</th>
            <th>Pre-release</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for release in repo.releases %}
        <tr>
            <td>{{ release.name }}</td>
            <td>{{ release.tag_name }}</td>
            <td>{{ release.published_at }}</td>
            <td>{{ release.author_login }}</td>
            <td>{{ release.sender_login }}</td>
            <td>{{ release.prerelease|yes_no }}</td>
            <td>
                <a href="{{ release.url }}" target="_blank" class="btn btn-default">{{ octicon('mark-github') }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {# TODO: pagination? #}
</table>
