{
  "http_interactions": [
    {
      "recorded_at": "2017-02-11T17:24:57",
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Remaining": "4942",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook",
          "Content-Type": "application/json; charset=utf-8",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "Status": "404 Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/666",
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/666",
        "method": "GET"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}