{"http_interactions": [{"recorded_at": "2017-02-11T16:52:59", "request": {"body": {"string": "", "encoding": "utf-8"}, "method": "GET", "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/MarekSuchanek/pyplaygroundhttp://localhost:5000/test/hooks"}, "response": {"body": {"string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}", "encoding": "utf-8"}, "url": "https://api.github.com/repos/MarekSuchanek/pyplaygroundhttp://localhost:5000/test/hooks", "headers": {"X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4975", "Status": "404 Not Found", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Reset": "1486832931", "X-Accepted-OAuth-Scopes": "repo", "Content-Type": "application/json; charset=utf-8", "X-OAuth-Scopes": ""}, "status": {"code": 404, "message": "Not Found"}}}], "recorded_with": "betamax/0.8.0"}