{
  "http_interactions": [
    {
      "recorded_at": "2017-02-11T17:24:59",
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\":\"Repository\",\"id\":12054324,\"name\":\"web\",\"active\":true,\"events\":[\"push\",\"release\",\"repository\"],\"config\":{\"url\":\"http://localhost:5000/test\",\"content_type\":\"json\",\"secret\":\"********\",\"insecure_ssl\":\"0\"},\"updated_at\":\"2017-02-11T17:24:59Z\",\"created_at\":\"2017-02-11T17:24:59Z\",\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324\",\"test_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324/test\",\"ping_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324/pings\",\"last_response\":{\"code\":null,\"status\":\"unused\",\"message\":null}}"
        },
        "headers": {
          "ETag": "\"9825ef8ae471cc9ffb621551789a4567\"",
          "X-RateLimit-Remaining": "4936",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo, write:repo_hook",
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Limit": "5000",
          "Location": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks",
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"web\", \"config\": {\"url\": \"http://localhost:5000/test\", \"content_type\": \"json\", \"secret\": \"webhooks_secret\"}, \"events\": [\"push\", \"release\", \"repository\"], \"active\": true}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks",
        "method": "POST"
      }
    },
    {
      "recorded_at": "2017-02-11T17:24:59",
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Remaining": "4935",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "Status": "204 No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324",
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324",
        "method": "DELETE"
      }
    },
    {
      "recorded_at": "2017-02-11T17:24:59",
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "headers": {
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Remaining": "4934",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook",
          "Content-Type": "application/json; charset=utf-8",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "Status": "404 Not Found"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324",
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054324",
        "method": "GET"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}