{
  "http_interactions": [
    {
      "recorded_at": "2017-02-11T17:23:37",
      "response": {
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307",
        "headers": {
          "ETag": "\"82ffbc574b62db1ec75efeb1421ab84a\"",
          "X-RateLimit-Remaining": "4947",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook",
          "Content-Type": "application/json; charset=utf-8",
          "Status": "200 OK",
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Limit": "5000",
          "Last-Modified": "Sat, 11 Feb 2017 17:23:37 GMT",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\":\"Repository\",\"id\":12054307,\"name\":\"web\",\"active\":true,\"events\":[\"push\",\"release\",\"repository\"],\"config\":{\"content_type\":\"json\",\"secret\":\"********\",\"url\":\"http://localhost:5000/test\",\"insecure_ssl\":\"0\"},\"updated_at\":\"2017-02-11T17:23:37Z\",\"created_at\":\"2017-02-11T17:23:37Z\",\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307\",\"test_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307/test\",\"ping_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307/pings\",\"last_response\":{\"code\":0,\"status\":\"unused\",\"message\":\"Unused\"}}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307",
        "method": "GET"
      }
    },
    {
      "recorded_at": "2017-02-11T17:23:38",
      "response": {
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307/tests",
        "headers": {
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "X-RateLimit-Remaining": "4946",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo",
          "Content-Type": "application/json; charset=utf-8",
          "Status": "404 Not Found"
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054307/tests",
        "method": "DELETE"
      }
    },
    {
      "recorded_at": "2017-02-11T17:24:57",
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"type\":\"Repository\",\"id\":12054322,\"name\":\"web\",\"active\":true,\"events\":[\"push\",\"release\",\"repository\"],\"config\":{\"url\":\"http://localhost:5000/test\",\"content_type\":\"json\",\"secret\":\"********\",\"insecure_ssl\":\"0\"},\"updated_at\":\"2017-02-11T17:24:57Z\",\"created_at\":\"2017-02-11T17:24:57Z\",\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322\",\"test_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322/test\",\"ping_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322/pings\",\"last_response\":{\"code\":null,\"status\":\"unused\",\"message\":null}}"
        },
        "headers": {
          "ETag": "\"8d4c632efb17ec8a21a684f47d650489\"",
          "X-RateLimit-Remaining": "4941",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo, write:repo_hook",
          "Content-Type": "application/json; charset=utf-8",
          "Status": "201 Created",
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Limit": "5000",
          "Location": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322",
          "X-GitHub-Media-Type": "github.v3; format=json"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks",
        "status": {
          "code": 201,
          "message": "Created"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"web\", \"config\": {\"url\": \"http://localhost:5000/test\", \"content_type\": \"json\", \"secret\": \"webhooks_secret\"}, \"events\": [\"push\", \"release\", \"repository\"], \"active\": true}"
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks",
        "method": "POST"
      }
    },
    {
      "recorded_at": "2017-02-11T17:24:58",
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"type\":\"Repository\",\"id\":11877633,\"name\":\"travis\",\"active\":true,\"events\":[\"create\",\"delete\",\"issue_comment\",\"member\",\"membership\",\"public\",\"pull_request\",\"push\",\"repository\"],\"config\":{\"domain\":\"notify.travis-ci.org\",\"token\":\"********\",\"user\":\"MarekSuchanek\"},\"updated_at\":\"2017-02-02T13:58:18Z\",\"created_at\":\"2017-02-02T13:58:18Z\",\"url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/11877633\",\"test_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/11877633/test\",\"ping_url\":\"https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/11877633/pings\",\"last_response\":{\"code\":200,\"status\":\"active\",\"message\":\"OK\"}},{\"type\":\"Repository\",\"id\":12050018,\"name\":\"web\[...]
[...]
    {
      "recorded_at": "2017-02-11T17:24:58",
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-OAuth-Scopes": "admin:repo_hook, repo",
          "X-RateLimit-Remaining": "4937",
          "X-RateLimit-Limit": "5000",
          "X-RateLimit-Reset": "1486836809",
          "X-Accepted-OAuth-Scopes": "admin:repo_hook, public_repo, repo",
          "X-GitHub-Media-Type": "github.v3; format=json",
          "Status": "204 No Content"
        },
        "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322",
        "status": {
          "code": 204,
          "message": "No Content"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "token <TOKEN>"
        },
        "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/hooks/12054322",
        "method": "DELETE"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}