{% from 'macros/basic.html' import octicon without context %}
<h2>Repositories</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Releases</th>
            <th>Updates</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for repo in repos %}
        <tr>
            <td><a href="{{ url_for('admin.repo_detail', login=repo.owner.login, reponame=repo.name) }}">{{ repo.full_name }}</a></td>
            <td><a href="{{ url_for('admin.account_detail', login=repo.owner.login) }}">{{ repo.owner.login }}</a></td>
            <td>{{ repo.releases|length }}</td>
            <td>{{ repo.pushes|length }}</td>
            <td>
                <a href="{{ url_for('admin.repo_detail', login=repo.owner.login, reponame=repo.name) }}" class="btn btn-primary btn-small">
                    {{ octicon('tools') }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
