{% from 'macros/basic.html' import octicon without context %}
<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Login (GitHub)</th>
            <th>Created</th>
            <th>Repos</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr>
            <td><a href="{{ url_for('admin.account_detail', login=account.login) }}">{{ account.login }}</a></td>
            <td>{{ account.created_at }}</td>
            <td>{{ account.github_user.repositories|length }}</td>
            <td>
                {% for role in account.roles %}
                    <span class="badge">{{ role.name }}</span>
                {% endfor %}
            </td>
            <td>
                <a href="{{ url_for('admin.account_detail', login=account.github_user.login) }}" class="btn btn-primary btn-small">
                    {{ octicon('tools') }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
