{% extends 'layout.html' %}
{% from 'macros/basic.html' import octicon without context %}
{% block body %}
    <h1>{{ repo.full_name }}
        <small>&laquo;manage&raquo;</small>
    </h1>

    <table class="table table-striped">
        <tr>
            <th>Full name:</th>
            <td>{{ repo|gh_repo_link }}</td>
        </tr>
        <tr>
            <th>Languages:</th>
            <td>{{ repo.languages|repo_languages }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ repo.description }}</td>
        </tr>
        <tr>
            <th>Topics:</th>
            <td>{{ repo.topics|repo_topics }}</td>
        </tr>
        <tr>
            <th>Visibility @GitHub:</th>
            <td>{{ repo|gh_repo_visibility }}</td>
        </tr>
        <tr>
            <th>Visibility @repocribro:</th>
            <td>{{ repo|repo_visibility }}</td>
        </tr>
        <tr>
            <th>URL @GitHub:</th>
            <td>{{ repo.url|ext_link }}</td>
        </tr>
        <tr>
            <th>URL @repocribro:</th>
            <td>{{ repo|repo_link(show_secret=True) }}</td>
        </tr>
        <tr>
            <th>Webhook ID:</th>
            <td>{{ repo.webhook_id }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('manage.dashboard', tab='repositories') }}" class="btn btn-default">
                {{ octicon('list-unordered') }} Back
            </a>
        </div>

        <div class="col-md-2">
        <form action="{{ url_for('manage.repository_activate') }}" method="POST">
            <input type="hidden" value="{{ repo.full_name }}" name="full_name">
            <button type="submit" class="btn btn-primary" name="enable" value="{{ repo.visibility_type }}">
                {{ octicon('link') }} Reactivate
            </button>
        </form>
        </div>

        <div class="col-md-2">
        <form action="{{ url_for('manage.repository_deactivate') }}" method="POST">
            <input type="hidden" value="{{ repo.full_name }}" name="full_name">
            <button type="submit" class="btn btn-danger">
                {{ octicon('circle-slash') }} Deactivate
            </button>
        </form>
        </div>

        <div class="col-md-2">
        <form action="{{ url_for('manage.repository_update') }}" method="POST">
            <input type="hidden" value="{{ repo.full_name }}" name="full_name">
            <button type="submit" class="btn btn-primary">
                {{ octicon('sync') }} Update
            </button>
        </form>
        </div>

        <div class="col-md-3">
        <form action="{{ url_for('manage.repository_activate') }}" method="POST">
            <input type="hidden" value="{{ repo.full_name }}" name="full_name">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success{% if repo.is_public %} disabled{% endif %}" name="enable"
                        value="{{ Repository.VISIBILITY_PUBLIC }}"{% if repo.is_public %} disabled{% endif %}>
                    Public
                </button>
                <button type="submit" class="btn btn-primary{% if repo.is_hidden %} disabled{% endif %}" name="enable"
                        value="{{ Repository.VISIBILITY_HIDDEN }}"{% if repo.is_hidden %} disabled{% endif %}>
                    Hidden
                </button>
                <button type="submit" class="btn btn-warning{% if repo.is_private %} disabled{% endif %}" name="enable"
                        value="{{ Repository.VISIBILITY_PRIVATE }}"{% if repo.is_private %} disabled{% endif %}>
                    Private
                </button>
            </div>
        </form>
        </div>

        <div class="col-md-1">
        <form action="{{ url_for('manage.repository_delete') }}" method="POST">
            <input type="hidden" value="{{ repo.full_name }}" name="full_name">
            <button type="submit" class="btn btn-danger">
                {{ octicon('trashcan') }} Delete
            </button>
        </form>
        </div>
    </div>
{% endblock %}
