{% extends "layout.html" %}
{% block body %}

    <h1>Repositories</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for repo in repos if repo['id'] not in active_ids %}
            <tr>
                <td>{{ repo['full_name'] }}</td>
                <td>{% if repo['description'] %}{{ repo['description'] }}{% endif %}</td>
                <td class="btn-group">
                    <form action="{{ url_for('manage.repo_activate', reponame=repo['name']) }}" method="POST">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success" name="enable"
                                    value="{{ Repository.VISIBILITY_PUBLIC }}">Public
                            </button>
                            <button type="submit" class="btn btn-primary" name="enable"
                                    value="{{ Repository.VISIBILITY_HIDDEN }}">Hidden
                            </button>
                            <button type="submit" class="btn btn-warning" name="enable"
                                    value="{{ Repository.VISIBILITY_PRIVATE }}">Private
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
