{% extends 'layout.html' %}
{% from 'macros/basic.html' import octicon without context %}
{% block body %}
    <h1>{{ repo.full_name }}
        <small>&laquo;manage&raquo;</small>
    </h1>

    <table class="table table-striped">
        <tr>
            <th>Full name:</th>
            <td>{{ repo.full_name }}</td>
        </tr>
        <tr>
            <th>Languages:</th>
            <td>{{ repo.languages }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ repo.description }}</td>
        </tr>
        <tr>
            <th>Visibility @GitHub:</th>
            <td>{{ repo.private }}{# TODO filter #}</td>
        </tr>
        <tr>
            <th>Visibility @repocribro:</th>
            <td>{{ repo.visibility_type }}{# TODO filter #}</td>
        </tr>
        <tr>
            <th>URL @GitHub:</th>
            <td>{{ repo.url }}</td>
        </tr>
        <tr>
            <th>URL @repocribro:</th>
            <td>{# TODO: via filter #}</td>
        </tr>
    </table>

    <div class="row">
        <p>
            <a href="{{ url_for('manage.repositories', reponame=repo.name) }}" class="btn btn-default">
                {{ octicon('list-unordered') }} Back
            </a>
        </p>

        <form action="{{ url_for('manage.repo_activate', reponame=repo.name) }}" method="POST">
            <button type="submit" class="btn btn-primary" name="enable" value="{{ repo.visibility_type }}">
                {{ octicon('link') }} Reactivate
            </button>
        </form>
        <form action="{{ url_for('manage.repo_update', reponame=repo.name) }}" method="POST">
            <button type="submit" class="btn btn-primary">
                {{ octicon('sync') }} Update
            </button>
        </form>
        <form action="{{ url_for('manage.repo_deactivate', reponame=repo.name) }}" method="POST">
            <button type="submit" class="btn btn-danger">
                {{ octicon('circle-slash') }} Deactivate
            </button>
        </form>


        <form action="{{ url_for('manage.repo_activate', reponame=repo.name) }}" method="POST">
            <input type="hidden" value="{{ repo.name }}" name="reponame">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success" name="enable" value="{{ Repository.VISIBILITY_PUBLIC }}">
                    Public
                </button>
                <button type="submit" class="btn btn-primary" name="enable" value="{{ Repository.VISIBILITY_HIDDEN }}">
                    Hidden
                </button>
                <button type="submit" class="btn btn-warning" name="enable" value="{{ Repository.VISIBILITY_PRIVATE }}">
                    Private
                </button>
            </div>
        </form>

        <form action="{{ url_for('manage.repo_delete', reponame=repo.name) }}" method="POST">
            <button type="submit" class="btn btn-danger">
                {{ octicon('trashcan') }} Delete
            </button>
        </form>
    </div>
{% endblock %}
