{% extends "layout.html" %}
{% block body %}
    {% set gh_user = current_user.github_user %}

    <h1>Dashboard</h1>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#repositories" data-toggle="tab"><span class="octicon octicon-repo"></span>
            Repositories</a></li>
        <li><a href="#profile" data-toggle="tab"><span class="octicon octicon-person"></span> Profile</a></li>
        <li><a href="#session" data-toggle="tab"><span class="octicon octicon-mark-github"></span> Session</a></li>
        {# TODO: more from extensions (possibility #}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="repositories">
            <h2>Repositories</h2>
            {# TODO: list of registered repositories #}
            {# TODO: button link to add more repos #}
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <h2>Profile</h2>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <img src="{{ gh_user.avatar_url }}" alt="avatar">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">

                    {# TODO: make filters (if None, ...) #}
                    <table class="table table-responsive table-striped">
                        <tr>
                            <th>Login</th>
                            <td>{{ gh_user.login }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ gh_user.email }}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{{ gh_user.company }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ gh_user.location }}</td>
                        </tr>
                        <tr>
                            <th>Login</th>
                            <td>{{ gh_user.login }}</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>{{ gh_user.blog_url }}</td>
                        </tr>
                        <tr>
                            <th>Bio</th>
                            <td>{{ gh_user.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-3">
                    <a href="{{ url_for('user.update_profile') }}" class="btn btn-primary">
                        <span class="octicon octicon-sync"></span> Sync profile
                    </a>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="session">
            <h2>GitHub session</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <label for="gh_token" class="input-group-addon">Token:</label>
                        <input id="gh_token" type="password" value="{{ token }}" class="form-control">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="toggle-gh_token">
                        <span class="octicon octicon-eye"></span>
                    </button>
                </span>
                    </div>
                </div>
            </div>
            <hr>

            <p>Given permissions (scopes):</p>
            <ul>
                {% for scope in scopes %}
                    <li>{{ scope }}</li>
                {% endfor %}
            </ul>
        </div>
        {# TODO: more from extensions (possibility) #}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="application/javascript">
        $(document).ready(function () {
            $('#toggle-gh_token').click(function () {
                var field = $('#gh_token');
                var ftype = $(field).attr('type');
                if (ftype == 'password') {
                    $(field).attr('type', 'text');
                } else {
                    $(field).attr('type', 'password');
                }
            });
        });
    </script>
{% endblock %}
