{% from "macros/basic.html" import octicon without context %}
{% macro pagination(base_route, page, pages, table_id) -%}
    <div class="btn-group">
        {% set prev_page = page - 1 %}
        {% set next_page = page + 1 %}
        {% if prev_page < 1 %}
            <a class="btn btn-secondary disabled" href="#{{ table_id }}">1</a>
            <a class="btn btn-secondary disabled" href="#{{ table_id }}">{{ octicon('chevron-left') }}</a>
        {% else %}
            <a class="btn btn-secondary" href="{{ url_for(base_route, page=1) }}#{{ table_id }}">1</a>
            <a class="btn btn-secondary" href="{{ url_for(base_route, page=prev_page) }}#{{ table_id }}">{{ octicon('chevron-left') }}</a>
        {% endif %}

        {% for num_page in range(page-2, page+3) if num_page > 0 and num_page <= pages %}
            <a href="{{ url_for(base_route, page=num_page) }}#{{ table_id }}"
               class="btn btn-secondary {% if num_page == page %} disabled{% endif %}">
                {{ num_page }}{% if num_page == page %} <span class="sr-only">(current)</span>{% endif %}
            </a>
        {% endfor %}

        {% if next_page > pages %}
            <a class="btn btn-secondary disabled" href="#{{ table_id }}">{{ octicon('chevron-right') }}</a>
            <a class="btn btn-secondary disabled" href="#{{ table_id }}">{{ pages }}</a>
        {% else %}
            <a class="btn btn-secondary" href="{{ url_for(base_route, page=next_page) }}#{{ table_id }}">{{ octicon('chevron-right') }}</a>
            <a class="btn btn-secondary" href="{{ url_for(base_route, page=pages) }}#{{ table_id }}">{{ pages }}</a>
        {% endif %}
    </div>
{%- endmacro %}
