{% macro pagination(base_route, page, pages, table_id) -%}
    <nav>
        <ul class="pagination">
            {% set prev_page = page - 1 %}
            {% set next_page = page + 1 %}
            {% if prev_page <= 1 %}
                <li class="disabled"><a href="#{{ table_id }}"><span>&#9194;</span></a></li>
                <li class="disabled"><a href="#{{ table_id }}"><span>&#9664;</span></a></li>
            {% else %}
                <li><a href="{{ url_for(base_route, page=1) }}#{{ table_id }}"><span>&#9194;</span></a></li>
                <li><a href="{{ url_for(base_route, page=prev_page) }}#{{ table_id }}"><span>&#9664;</span></a></li>
            {% endif %}

            {% for num_page in range(page-2, page+3) if num_page > 0 and num_page <= pages %}
                <li{% if num_page == page %} class="active"{% endif %}>
                    <a href="{{ url_for(base_route, page=page) }}#{{ table_id }}">
                        {{ num_page }}{% if num_page == page %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
            {% endfor %}

            {% if next_page >= pages %}
                <li class="disabled"><a href="#{{ table_id }}"><span>&#9654;</span></a></li>
                <li class="disabled"><a href="#{{ table_id }}"><span>&#9193;</span></a></li>
            {% else %}
                <li><a href="{{ url_for(base_route, page=next_page) }}#{{ table_id }}"><span>&#9654;</span></a></li>
                <li><a href="{{ url_for(base_route, page=pages) }}#{{ table_id }}"><span>&#9193;</span></a></li>
            {% endif %}
        </ul>
    </nav>
{%- endmacro %}
