{% extends 'layout.html' %}
{% from 'macros/basic.html' import octicon without context %}
{% block body %}
    <h1>{{ role.name }}
        <small>&laquo;administration&raquo;</small>
    </h1>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <form action="{{ url_for('admin.role_edit', name=role.name) }}" method="POST">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ role.name }}">
                    </div>
                    <div class="col-md-4 btns-fullwidth">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-success">
                            {{ octicon('pencil') }} Edit
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Description:</label>
                    <textarea class="form-control" id="name" name="description">{{ role.description }}</textarea>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-3 btns-fullwidth">
            <form action="{{ url_for('admin.role_delete', name=role.name) }}" method="POST">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-danger">
                    {{ octicon('trashcan') }} Delete
                </button>
            </form>
        </div>
    </div>

    <h2>Assignees</h2>

    <form action="{{ url_for('admin.role_assignment_add', name=role.name) }}" method="POST">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="login">Login (GitHub):</label>
                <input type="text" class="form-control" id="login" name="login">
            </div>
            <div class="col-md-4 btns-fullwidth">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary">
                    {{ octicon('plus') }} Add assignment
                </button>
            </div>
        </div>
    </form>

    <form action="{{ url_for('admin.role_assignment_remove', name=role.name) }}" method="POST">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="login">Login (GitHub):</label>
                <input type="text" class="form-control" id="login" name="login">
            </div>
            <div class="col-md-4 btns-fullwidth">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-warning" style="display: inline;">
                        {{ octicon('X') }} Remove assignment
                </button>
            </div>
        </div>
    </form>

    <ul>
        {% for account in role.user_accounts|sort(attribute='login') %}
            <li>
                <a href="{{ url_for('admin.account_detail', login=account.github_user.login) }}">
                    {{ account.github_user.login }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
