{% from "macros/basic.html" import octicon without context %}
<h2>Repositories</h2>

<p>
    Here is list of your connected repositories to <em>repocribro</em> you can
    <a href="{{ url_for('manage.repositories') }}" class="btn btn-success">{{ octicon('link') }}  connect more</a>
    of your personal repos or browse
    <a href="{{ url_for('manage.organizations') }}" class="btn btn-primary">{{ octicon('organization') }} your organizations</a>.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Languages</th>
            <th>Visibility</th>
            <th>Pushes</th>
            <th>Releases</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for repo in repos %}
        <tr>
            <td>{{ repo.name }}</td>
            <td>{{ repo.languages }}</td>
            <td>{{ repo.visibility_type }}</td>
            <td>{{ repo.pushes|length }}</td>
            <td>{{ repo.releases|length }}</td>
            <td>
                <a href="{{ repo.url }}">{{ octicon('mark-github') }}</a>
                <a href="{{ url_for('manage.repo_detail', reponame=repo.name) }}">{{ octicon('repo') }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {# TODO: pagination? #}
</table>
